# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
build
dist
out

# Cache
.cache
.npm

# Coverage
coverage

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts 