@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  background-color: #f9fafb;
  /* Light gray */
  /* Black text */
  font-family: inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  /* Add any other styles you want to apply globally */
}

.codeblock-chatgpt {
  font-family: 'Söhne Mono', Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.7142857;
  background-color: #282c34;
  color: #00a67d;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
  overflow-y: auto;
  white-space: pre-wrap;
}

/* .press-start {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase;
} */

/* 
h1,
h2,
h3 {
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
} */

.Button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
  gap: 16px;
  width: 239px;
  height: 54px;
  background: #FFFFFF;
  /* 600 */
  border: 1px solid #6F6F6F;
  /* Drop */
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 60px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

div.message.user {
  margin-left: auto;
  background-color: #F7F7F7;

}

div.message.bot {
  background-color: #F8F8F2;
}

html {
  box-sizing: border-box;
}

.profile-field {
  display: flex;
  flex-direction: column;
  gap:.25rem;
}
.profile-field label{
  font-size: .70rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.profile-field textarea{
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid #E9E9E9;
  color: #454140;
  background-color: #FCFCFC;
  height: 100%;
}
.profile-field textarea::placeholder{
  color: #E9E9E9;
}
.profile-field input[type='text'],
.profile-field input[type='email']{
  border-radius: 1rem;
  padding: .5rem 1rem;
  border: 1px solid #E9E9E9;
  color: #454140;
  background-color: #FCFCFC;
  border-radius: 9999px;
}
.profile-field input[type='text']::placeholder{
  color: #E9E9E9;
}

.profile-field .chips {
  display: flex;
  gap: .25rem;
  width: 100%;
  flex-wrap: wrap;
}
.profile-field .chips-container {
  border-radius: 1rem;
  padding: .25rem;
  border: 1px solid #E9E9E9;
  color: #454140;
  background-color: #FCFCFC;
  border-radius: 1rem;
}

.profile-field > div input[type='text'] {
  /* Adjust styles as needed */
  border-radius: initial; /* Reset border-radius */
  padding: initial; /* Reset padding */
  border: initial; /* Reset border */
  color: initial; /* Reset color */
}