env/
.DS_Store
mimir-env
.chalice/deployments/
.chalice/venv/
__pycache__
env/
demos/
.env
.env.development
.env.production
docs/
demos/
frontend/src/app/_disabled/
tests/
prds/
prompts/
supabase/functions/gumloop/gumloop_custom_node_request.json
supabase/functions/gumloop/gumloop_custom_node_request.txt
# supabase/functions/gumloop/gumloop_custom_node.py
supabase/functions/gumloop/gumloop_input_sample.json
results/
frontend/src/app/test-stripe
voice-agents-demo/