env/
.DS_Store
mimir-env
.chalice/deployments/
.chalice/venv/
__pycache__
env/
demos/
.env
.env.development
.env.production
docs/
demos/
frontend/src/app/_disabled/
tests/
prds/
prompts/
supabase/functions/gumloop/gumloop_custom_node_request.json
supabase/functions/gumloop/gumloop_custom_node_request.txt
# supabase/functions/gumloop/gumloop_custom_node.py
supabase/functions/gumloop/gumloop_input_sample.json
results/
frontend/src/app/test-stripe
voice-agents-demo/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific

# Task files
# tasks.json
# tasks/ 
.next/

*.DS_Store
frontend/node_modules
frontend/.env.local
*tsconfig.tsbuildinfo