# requirements for Kitsune AI project
pip<24.1 # constraint for chalice
chalice
openai==1.14.2
python-dotenv==1.0.0
requests
boto3==1.34.72

# (Optional) Deployment Packages Required for KitsuneAI
# langchain-community==0.0.30
# langchain-openai==0.0.6
# langchain-text-splitters
# langchain-pinecone
# pinecone-client