chalice
python-dotenv==1.0.0
requests
boto3
openai
# langchain
# langchain-community==0.0.30
pinecone
pinecone-client[grpc]
protobuf
# pinecone-client
# protoc-gen-openapiv2
# google-cloud
# google-cloud-storage